{% extends 'base.html' %}

{% block title %}  About {% endblock title %}

{% block body %}
    <div class=" container-fluid text-center ">
        <h2>About</h2>
        <h6 class="my-5">
            
            The Todo App is a simple and efficient task management
            tool that helps users stay organized and productive. 
            It allows users to create, update, and delete tasks, 
            ensuring all important activities are tracked. 
            The intuitive interface and user-friendly design make managing 
            daily tasks seamless and effective.
            
        </h6>
    </div>
    

{% endblock %}